<%- include('../partials/header', {title:"archive"}) %>
<%- include('../partials/navbar', {title:"archive"}) %>

    <h1>Past Reminders</h1>


<% for (reminder of Object.values(reminders)){%>

<div class="card1">
<div class="card bg-light text-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"><%=reminder.date + " at " + reminder.time%></div>
  <div class="card-body">
    <h5 class="card-title"><%=reminder.subject%></h5>
    <p class="card-text"><%=reminder.message%></p>
  </div>
</div>
</div>
<%}%>
